extends layout

block content
  h1(class="center", id="headline") Wit + Speech Recognition Demo
  p Some of the sentences tested, with different json responses defined at the wit console:
  ul
    li please tell me a joke
    li what is the weather outside
    li hi google
    li erase these files

  div
    button(id="start_button", onclick="startButton(event)")
      img(id="start_img", src="/images/mic.gif", alt="Start")

  #results
    span(id="final_span", type="search", class="final")
    span(id="interim_span", class="interim", style="display:none")

  p#result

  script(src="http://code.jquery.com/jquery-1.11.0.min.js")
  script(src="/javascripts/speech.js")
  script(src="/javascripts/main.js")
